<extend name="Public/index"/>
<block name="nav">
	<div class="sub-nav">
	    <div class="sub-nav-wrap gclear">
	        <h2>
	            <a href="/ask/"><span class="gnav-logo">果壳</span>问答</a>
	        </h2>
	        <ul class="sub-nav-link gfl">
	            <li class="current">
	                <a href="/ask/">问答首页</a>
	            </li>
	            <li>
	                <a href="/ask/hottest/">发现问答</a>
	            </li>
	            <li>
	                <a href="/ask/pending/">等待回答</a>
	            </li>
	            <li >
	                <a href="/ask/newest/">最新问题</a>
	            </li>
	            <li >
	                <a href="/ask/tag/category/">标签广场</a>
	            </li>
	        </ul>
	        <div class="sub-nav-btn gfr">
	            <a data-gaevent="ask_nav_button_ask:ask" href="/questions/new/" class="gnbtn-primary" data-redirect="" data-login="http://www.guokr.com/questions/new/">提问</a>
	            <a data-gaevent="ask_nav_button_answer:ask" href="/ask/pending/" class="gnbtn-primary">我要回答</a>
	        </div>
	    </div>
	</div>
</block>
<block name="content">
	<div class="gwrap ask-index-page">
	<div class="gmain">
		<div class="ask-index-list ask-wait ask-list-border">
		        <h3>等待回答
		            <a href="/ask/pending/" class="ask-list-all" target="_blank">[全部]</a>
		        </h3>
		        <ul class="ask-q-list">
		            <foreach name="wait" item="v" key="k" >
			            <li>
			            <span class="ask-list-right">{$v.answer_num}回答</span>
			            <a data-gaevent="ask_main_wait:ask" class="gellipsis" href="http://www.guokr.com/question/627273/" target="_blank">
			                {$v.sub_name}
		                </a>
			            </li>
		            </foreach>
		            
		           
		            
		        </ul>
		    </div>
	    <div class="ask-qa ask-list-border gclear">
	        <div class="ask-index-list ask-hot">
	            <h3>热门问答
	                <a href="/ask/hottest/" class="ask-list-all" target="_blank">[全部]</a>
	            </h3>
	            <ul class="ask-q-list">
	                <foreach name="hot" item="v" key="k">
	                <li>
	                    <a data-gaevent="ask_main_hot:ask" class="gellipsis" href="http://www.guokr.com/question/626930/" target="_blank">
	                        {$v.sub_name}
	                    </a>
	                </li>
	                </foreach>
	            </ul>
	        </div>
	        <div class="ask-index-list ask-hot">
	            <h3>精彩问答
	                <a href="/ask/highlight/" class="ask-list-all" target="_blank">[全部]</a>
	            </h3>
	            <ul class="ask-q-list">
	                <foreach name="wonderful" item="v" key="k">
	                <li>
	                    <a data-gaevent="ask_main_good:ask" class="gellipsis" href="http://www.guokr.com/question/626977/" target="_blank">
	                        {$v.sub_name}
	                    </a>
	                </li>
	                </foreach>
	            </ul>
	        </div>
	    </div>
	    <div class="ask-index-list ask-list-border" id="askLikeChange">
	        <h3>
	            <div class="ask-change-tab gfr" id="askLikeChangeBtns">
	                <a href="javascript:void(0)" class="ask-box-current">最近</a><a href="javascript:void(0)">一周</a>
	            </div>
	            大家都喜欢
	            <a href="/ask/popular/" class="ask-list-all" target="_blank">[全部]</a>
	        </h3>
	        
	        <ul class="ask-multi-list ask-multi-current">
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">82</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/1960037643/" target="_blank">沉默的马大爷</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844468/redirect/" target="_blank">为什么人们接受不了instagram的新图标？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        本来接受新事物就很难，再不搞出好的设计，用户怎么买账,再比如，强调“今不如昔”，可以强化“我是老用户”的优越感，满足了我们的自尊需求,但是，看到Ins新图标的那一刻，我就明白了，扯上面这些都没用，原因只有一个：
	                    </p>
	                </div>
	                <span class="gfr">昨天10:33</span>
	            </li>
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">51</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/1690899010/" target="_blank">郑然</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844492/redirect/" target="_blank">乒乓球训练时，老师指导需要左手扶住肋骨吗？为什么？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        c、对学员家长、男女朋友，看到教练这样的动作，有可能不快，反正我将来我如果有了女儿，去参加乒乓球训练，绝对不允许教练这样辅导，当然更好的方式是，教她直接向教练不卑不亢的表达；,再次多余补充：这不是在说照片中的教练辅导姿势是没问题的，同样，也不是在说这种姿势是有问题的……继续往下看,[*]以这则问答为例，我提供的可能最有实用价值的信息就是：乒乓球正手攻球时，重心的转移是非常重要的：对右利手来说，一次完整的动作，重心要从右腿转到左腿，以此帮助集中全身力量向前发力击球
	                    </p>
	                </div>
	                <span class="gfr">昨天12:55</span>
	            </li>
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">42</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/0024712393/" target="_blank">limosummer</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844305/redirect/" target="_blank">执法记录仪摔坏了还能读取里面的视频吗？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        插SD卡或TF卡的手机和DV跟记录仪的情况跟记录仪的差不多，如果是内置存储芯片的手机，如果主板摔坏了，要读出手机内存储的数据就会艰难更艰难一些，毕竟不是一个通用的接口,通常来说，TF裸卡要被摔坏不容易，装在机器深处的TF卡在机器跌落的时候也不太可能发生物理折断，而且，绝大多数TF卡泡了水之后擦干也还能正常读取,如果当时使用的执法记录仪不是这种类型的记录仪，而是DV机或者手机，数据无法读取的情况可能又不太一样
	                    </p>
	                </div>
	                <span class="gfr">2016-05-11 09:02</span>
	            </li>
	            
	            <li class="gclear ask-bottom-adjust">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">32</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/0121399668/" target="_blank">whyisveryme</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844350/redirect/" target="_blank">执法记录仪摔坏了还能读取里面的视频吗？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        没关系，就算烧掉了也可以通过逻辑推演啊，而且作为强势的一方，公安把重要证据搞没了就要承担举证责任，承担不了就要负责嘛,那你和这起案件里的公安有什么区别,呵呵，要不是说没有法治的土壤么，键盘侠都一个德行
	                    </p>
	                </div>
	                <span class="gfr">2016-05-11 13:19</span>
	            </li>
	            
	        </ul>
	        
	        <ul class="ask-multi-list ">
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">156</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/2063560525/" target="_blank">Ent</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844023/redirect/" target="_blank">抛10次硬币都是正面，那第11次还出正面的概率是多少？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        但无论如何，如果你是一个贝叶斯主义者，相信直觉，不愿意接受“标准硬币”那个先验知识，那么你应当得出的结论是：下一次硬币为正面的概率大于1/2,那么在这里我们可以说，这10次观察得到了一个后验知识——该硬币有偏向于正面的倾向性,如果它是一枚作弊的、必定正面的硬币，那么它就会以1的概率出产连续10正，这可比标准硬币更有解释力啊
	                    </p>
	                </div>
	                <span class="gfr">2016-05-09 14:37</span>
	            </li>
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">94</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/1248922694/" target="_blank">Articdoctor</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/843885/redirect/" target="_blank">&#34;仰头喝可乐致四肢瘫痪&#34;是怎么回事？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        如果一个医生来写这篇报道，会写“多年颈椎病仰头诱发四肢瘫”，而记者则会写“53岁的王大伯因为仰头喝可乐，患上脊髓型颈椎病伴不全瘫”，如果你是读者，你会看哪篇报道,媒体看重的是宣传性，而医生看重的是科学性，所以，媒体才会把医生的“待查”当做敷衍，把“可能“当做心虚，才会有缝肛门，才会有八毛门，才会有徐医附院消失的肾脏，甚至说，才会有陈仲伟之殇,实际上，这个早就被证实是谣言，截止目前为止，没有证据证明碳酸饮料会促进或导致骨质疏松
	                    </p>
	                </div>
	                <span class="gfr">2016-05-07 23:33</span>
	            </li>
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">82</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/1960037643/" target="_blank">沉默的马大爷</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844468/redirect/" target="_blank">为什么人们接受不了instagram的新图标？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        本来接受新事物就很难，再不搞出好的设计，用户怎么买账,再比如，强调“今不如昔”，可以强化“我是老用户”的优越感，满足了我们的自尊需求,但是，看到Ins新图标的那一刻，我就明白了，扯上面这些都没用，原因只有一个：
	                    </p>
	                </div>
	                <span class="gfr">昨天10:33</span>
	            </li>
	            
	            <li class="gclear ask-bottom-adjust">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">51</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a data-gaevent="ask_main_like:ask" href="http://www.guokr.com/ask/i/1690899010/" target="_blank">郑然</a>&nbsp;回答&nbsp;<a href="http://www.guokr.com/answer/844492/redirect/" target="_blank">乒乓球训练时，老师指导需要左手扶住肋骨吗？为什么？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        c、对学员家长、男女朋友，看到教练这样的动作，有可能不快，反正我将来我如果有了女儿，去参加乒乓球训练，绝对不允许教练这样辅导，当然更好的方式是，教她直接向教练不卑不亢的表达；,再次多余补充：这不是在说照片中的教练辅导姿势是没问题的，同样，也不是在说这种姿势是有问题的……继续往下看,[*]以这则问答为例，我提供的可能最有实用价值的信息就是：乒乓球正手攻球时，重心的转移是非常重要的：对右利手来说，一次完整的动作，重心要从右腿转到左腿，以此帮助集中全身力量向前发力击球
	                    </p>
	                </div>
	                <span class="gfr">昨天12:55</span>
	            </li>
	            
	        </ul>
	        
	    </div>
	    <div class="ask-index-list ask-list-border">
	        <h3>
	            <a href="/question/461319/" class="gfr" target="_blank">什么是等待支持？</a>
	            等待支持
	            <a href="/ask/potential/" class="ask-list-all" target="_blank">[全部]</a>
	        </h3>
	        <ul class="ask-multi-list ask-multi-current">
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">12</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a href="http://www.guokr.com/ask/i/0351331407/" target="_blank">八索</a>&nbsp;回答&nbsp;<a data-gaevent="ask_main_wait:ask" href="http://www.guokr.com/answer/844658/redirect/" target="_blank">青蛙或蛤蟆能不能长出类似鸡鸡的器官？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        大约是这种的半成品  一只青蛙几条腿
	                    </p>
	                </div>
	                <span class="gfr">2小时前</span>
	            </li>
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">7</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a href="http://www.guokr.com/ask/i/0567651121/" target="_blank">scythe7</a>&nbsp;回答&nbsp;<a data-gaevent="ask_main_wait:ask" href="http://www.guokr.com/answer/844625/redirect/" target="_blank">大家觉得多烧一点温水直接用来洗澡节约热能，还是少烧一点开水兑冷水节能？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        烧温水比较节能,二是烧的时间长短，烧开肯定比烧热来得久，更久的时间里散热更多,这和气化潜热关系不大，因为你是烧热水，而不是烧蒸汽
	                    </p>
	                </div>
	                <span class="gfr">今天09:25</span>
	            </li>
	            
	            <li class="gclear ">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">10</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a href="http://www.guokr.com/ask/i/0655699711/" target="_blank">毛骡</a>&nbsp;回答&nbsp;<a data-gaevent="ask_main_wait:ask" href="http://www.guokr.com/answer/844600/redirect/" target="_blank">大家觉得多烧一点温水直接用来洗澡节约热能，还是少烧一点开水兑冷水节能？</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        这问题显然不需要讨论，烧到临界温度以后，所有的能量都是浪费的,显然在实际情况下不需要将水烧干,而热得快的功率非常大，加热时间非常短（小心跳闸），所以加热时间的热量损失虽然有，但是可以忽略
	                    </p>
	                </div>
	                <span class="gfr">昨天23:18</span>
	            </li>
	            
	            <li class="gclear ask-bottom-adjust">
	                <span class="ask-multi-up">
	                    <span class="ask-support-num">4</span>
	                    <span class="icon-support"></span>
	                </span>
	                <div class="gfl">
	                    
	                    <h4 class="gellipsis">
	                        <a href="http://www.guokr.com/ask/i/0351331407/" target="_blank">八索</a>&nbsp;回答&nbsp;<a data-gaevent="ask_main_wait:ask" href="http://www.guokr.com/answer/844596/redirect/" target="_blank">困扰了很久的问题。从小起到现在20岁了，几乎每年都会复发一种皮肤病，在太阳穴靠眼角侧或者下巴的位置起脓疮。</a>
	                    </h4>
	                    
	                    <p class="gellipsis">
	                        相信第一条的，要不你直接“百度”试试,你愿意相信一个隔着屏幕都不知道是shenmegui的人的建议，,个人考虑单纯疱疹，具体请去靠谱的医院找皮肤科
	                    </p>
	                </div>
	                <span class="gfr">昨天22:16</span>
	            </li>
	            
	        </ul>
	    </div>
	    <div class="ask-index-list ask-hot-tags gclear">
	        <h3>
	            热门标签
	            <a href="/ask/tag/category/" class="ask-list-all" target="_blank">[全部]</a>
	        </h3>
	        
	        
	        <div class="ask-hot-tag">
	            <a href="/ask/tag/category/social/" class="ask-tag-link" target="_blank">人文 ▪ 社科</a>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E5%BF%83%E7%90%86%E5%AD%A6/" target="_blank"><img width="24" src="Picture/pncxhx5s3wss0wp0dg07ovc07h3hmhywiebvleupoiswaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E5%BF%83%E7%90%86%E5%AD%A6/" target="_blank">心理学</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E4%BA%BA%E6%96%87/" target="_blank"><img width="24" src="Picture/58vcwowgay7h4w7u1zcjtqpdxas8tn9buk0kgytqvrcwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E4%BA%BA%E6%96%87/" target="_blank">人文</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E7%A4%BE%E4%BC%9A%E7%A7%91%E5%AD%A6/" target="_blank"><img width="24" src="Picture/v6tdpauklpy1lrezujfg6cnfwggdnwfdjjj0tunin5awaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E7%A4%BE%E4%BC%9A%E7%A7%91%E5%AD%A6/" target="_blank">社会科学</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E5%8E%86%E5%8F%B2/" target="_blank"><img width="24" src="Picture/n5uruywmv9h6xu8f98rovfcc-0vu9gt0bsjyvcdj8tmwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E5%8E%86%E5%8F%B2/" target="_blank">历史</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E5%A4%A7%E5%AD%A6/" target="_blank"><img width="24" src="Picture/sjmxalwmfweyboi5711zkv_mlgxvhvn84gtu_76tfmkwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E5%A4%A7%E5%AD%A6/" target="_blank">大学</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E6%B3%95%E5%BE%8B/" target="_blank"><img width="24" src="Picture/g8xc5jxjxhkcwdahyamr3kuhxqp-aj8y_e7cc-6vafewaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E6%B3%95%E5%BE%8B/" target="_blank">法律</a>
	                </dd>
	            </dl>
	            
	        </div>
	        
	        <div class="ask-hot-tag">
	            <a href="/ask/tag/category/science/" class="ask-tag-link" target="_blank">科学 ▪ 技术</a>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E4%BA%92%E8%81%94%E7%BD%91/" target="_blank"><img width="24" src="Picture/4wyxuay-ypkrshjvstzeuquo8rmail9w1go3xlsarsiwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E4%BA%92%E8%81%94%E7%BD%91/" target="_blank">互联网</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E7%94%B5%E5%AD%90/" target="_blank"><img width="24" src="Picture/akidxuc-ig-kmmkjikh2grlrab0wimxgjqctnhnq7dcwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E7%94%B5%E5%AD%90/" target="_blank">电子</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E8%AE%A1%E7%AE%97%E6%9C%BA/" target="_blank"><img width="24" src="Picture/ipg4qcmg-gab9ug708dwycdunmv5tnhuxycfiufnjzmwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E8%AE%A1%E7%AE%97%E6%9C%BA/" target="_blank">计算机</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E7%94%B5%E5%AD%90%E4%BA%A7%E5%93%81/" target="_blank"><img width="24" src="Picture/nudujmtoxjeiycbfqebllnwgmbavmiebm463qiqzsmwwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E7%94%B5%E5%AD%90%E4%BA%A7%E5%93%81/" target="_blank">电子产品</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E7%A7%91%E5%AD%A6/" target="_blank"><img width="24" src="Picture/oi1gy24cvmtzuqk8bi77cvflz_pvx0zzdg1n4lppmugwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E7%A7%91%E5%AD%A6/" target="_blank">科学</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E7%BD%91%E7%BB%9C/" target="_blank"><img width="24" src="Picture/wwbb7t8yaff6rymbklqpxh3tbuv66aqmzeaiqdlycawwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E7%BD%91%E7%BB%9C/" target="_blank">网络</a>
	                </dd>
	            </dl>
	            
	        </div>
	        
	        <div class="ask-hot-tag">
	            <a href="/ask/tag/category/life/" class="ask-tag-link" target="_blank">生活 ▪ 娱乐</a>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E7%94%9F%E6%B4%BB/" target="_blank"><img width="24" src="Picture/msyub5wxaidbefg0hrabjpzj5uhfeqrp4dvutx6vd64waaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E7%94%9F%E6%B4%BB/" target="_blank">生活</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E5%8C%BB%E5%AD%A6/" target="_blank"><img width="24" src="Picture/4mmkp3w8efrdhtitiywle1tzuaemajs81o8h0ozpy7gwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E5%8C%BB%E5%AD%A6/" target="_blank">医学</a>
	                </dd>
	            </dl>
	            
	            <dl>
	                <dt>
	                <a data-gaevent="ask_main_tag:ask" href="http://www.guokr.com/ask/tag/%E5%81%A5%E5%BA%B7/" target="_blank"><img width="24" src="Picture/dwk35ny-czzvktjaumzvefj4j5cd47piw9aa4qt-ppqwaaaamaaaaepq.jpg"/></a>
	                </dt>
	                <dd>
	                    <a data-gaevent="ask_main_tag:ask" class="gellipsis" href="http://www.guokr.com/ask/tag/%E5%81%A5%E5%BA%B7/" target="_blank">健康</a>
	                </dd>
	            </dl>
	        </div>
	        
	        
	    </div>
	</div>
	<div class="gside">
	    <div class="ask-index-list ask-index-help gclear">
	        <h3 class="gfl">
	            帮助
	        </h3>
	        <ul class="gfl" id="askHelpChange">
	            
	            <li class="gellipsis current">
	            <a data-gaevent="ask_main_help:ask" class="gellipsis current" href="http://www.guokr.com/question/446444/" target="_blank">在果壳问答如何提问？</a>
	            </li>
	            
	            <li class="gellipsis ">
	            <a data-gaevent="ask_main_help:ask" class="gellipsis " href="http://www.guokr.com/question/446435/" target="_blank">在果壳问答，应该如何回答问题？</a>
	            </li>
	            
	            <li class="gellipsis ">
	            <a data-gaevent="ask_main_help:ask" class="gellipsis " href=" http://www.guokr.com/question/436807/" target="_blank">如何插入公式？</a>
	            </li>
	            
	        </ul>
	        <span class="cmts-title-page" id="askHelpChangeBtns">
	            <a class="cmts-title-icon" title="上一个" href="javascript:void(0)"><span class="icon-left"></span></a><a class="cmts-title-icon" title="下一个" href="javascript:void(0)"><span class="icon-right"></span></a>
	        </span>
	    </div>
	    <div class="ask-index-ad">
	        <div id="bdadm-664451" class="side-advert"></div>
	    </div>
	    <div id="askNewAnswer" class="ask-index-list ask-index-new">
	        <h3>新增答案</h3>
	        <ul></ul>
	    </div>
	    <div class="ask-index-list ask-index-best" id="askBestChange">
	        <h3>
	            <div class="ask-change-tab gfr" id="askBestChangeBtns">
	                <a href="javascript:void(0)" class="ask-box-current">最近</a><a href="javascript:void(0)">一周</a>
	            </div>
	            最佳回答者
	        </h3>
	        
	        <ul class="current">
	            
	            
	            <li class="gclear ">
	                <a data-gaevent="ask_main_best_people:ask" href="http://www.guokr.com/ask/i/1960037643/" class="pt-pic" target="_blank">
	                    <img src="Picture/rmri55wz3_6u5m5rmaitbczni_fixkllwfsjn5youumgaaaaoaaaaepq.jpg"/>
	                </a>
	                <div class="pt-txt">
	                    <a data-gaevent="ask_main_best_people:ask" href="http://www.guokr.com/ask/i/1960037643/" target="_blank">沉默的马大爷</a>
	                    <p class="gellipsis">
	                        
	                        
	                        
	                    </p>
	                </div>
	                <span class="ask-side-up">
	                    <span class="icon-support"></span>
	                    83
	                </span>
	            </li>
	            
	            
	            
	            <li class="gclear ">
	                <a data-gaevent="ask_main_best_people:ask" href="http://www.guokr.com/ask/i/2063560525/" class="pt-pic" target="_blank">
	                    <img src="Picture/-cf0ffrj--pi1cyukawxj680yx-pwlrgkr6iqh3j-segaaaaygaaafbo.png"/>
	                </a>
	                <div class="pt-txt">
	                    <a data-gaevent="ask_main_best_people:ask" href="http://www.guokr.com/ask/i/2063560525/" target="_blank">Ent</a>
	                    <p class="gellipsis">
	                    </p>
	                </div>
	                <span class="ask-side-up">
	                    <span class="icon-support"></span>
	                    72
	                </span>
	            </li>
	        </ul>
	    </div>
	</div>
	        <!-- 广告位：问答首页-底通 -->
	        <div style="clear: both;">
		<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "887341";</script>
		<script type="text/javascript" src="__PUBLIC__/Home/assets/Scripts/o.js"></script>
	</div>

</block>