<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 screen-scroll"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 screen-scroll"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 screen-scroll"> <![endif]-->
<html class="no-js screen-scroll">
    <head>
        
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="Keywords" content="科学人, 果壳,果壳网,科技,泛科技,智趣,生活,科普"/>
        <meta name="Description" content=""/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        
        <title>科学人 | 果壳网 科技有意思</title>
        <link rel="stylesheet" href="__PUBLIC__/Home/Science/css/affa772f.main.css" />
        <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/Home/Science/css/ca4c0de1.ie678.css" /><![endif]-->
		<link rel="stylesheet" href="__PUBLIC__/Home/Science/css/3100651d.list.css" />
</head>
    <body>
    
        
        <div id="spread" class="spread" style="clear: both;">
    <a href="javascript:void 0;" class="icon-close" style="position: absolute;margin-top: -14px;top: 50%;right:     3px;padding: 5px;background-position: 5px 5px;background: url('../Images/d6823053.icon-close.png') no-repeat;width: 22.5px;height:    22.5px;background-size: 22.5px 22.5px;"></a>
</div>
        
        <div class="gheader-wrap">
            

<div class="gheader-new">
    <div class="gh-wrap">
        <div class="gfl">
            <ul class="gh-nav">
                
<li>
<a href="http://www.guokr.com/"><span class="gnicon-home"></span>首页<b ></b></a>
</li>

                
<li>
<a href="http://www.guokr.com/scientific/">科学人<b class="gnarrow-up"></b></a>
</li>

                
<li>
<a href="http://www.guokr.com/group/">小组<b ></b></a>
</li>

                
<li>
<a href="http://www.guokr.com/ask/">问答<b ></b></a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://mooc.guokr.com/" target="_blank">MOOC</a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://www.zaih.com/" target="_blank">在行</a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://www.kexuelife.com" target="_blank">科学与生活</a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://www.15yan.com/" target="_blank">十五言</a>
</li>

                <li id="moreNav" class="gh-sm-hidden">
                    <a href="javascript:void 0;" class="other">更多<i class="gnarrow-down"></i></a>
                    <div class="gh-list">
                        <ul>
                            <!-- 
<li class="gh-sm-hidden">
<a href="http://sex.guokr.com/" target="_blank">知性</a>
</li>
 -->
                            
<li class="gh-sm-hidden">
<a href="http://www.guokr.com/mobile/" target="_blank">果壳精选</a>
</li>

                            
<li class="gh-sm-hidden">
<a href="http://gate.guokr.com/" target="_blank">任意门</a>
</li>

                            
<li class="gh-sm-hidden">
<a href="http://www.guokr.com/group/weixin_account/" target="_blank">果壳微信号</a>
</li>

                            
                            
<li class="gh-sm-hidden">
<a href="http://music.guokr.com/" target="_blank">果壳音乐</a>
</li>

                            
<li class="gh-sm-hidden">
<a href="http://www.guokr.com/group/185/" target="_blank">果壳动漫</a>
</li>

                            
                        </ul>
                    </div>
                </li>
            </ul>
            <form class="gh-search" id="search" method="get" action="http://www.guokr.com/search/all/">
                <p id="searchBox">
                    <input id="searchTxt" class="gh-search-txt" type="text" name="wd" maxlength="30" value="">
                    <input class="gnicon-search" type="submit" value="搜索">
                </p>
            </form>
        </div>
        
    <div class="gh-login">
        <a rel="nofollow" href="">登录</a>
        <span class="split">|</span>
        <a rel="nofollow" href="">注册</a>
    </div>
   
    </div>
</div>
            
<div class="gh-sub-nav-wrap" id="subNav">
    <div class="gh-sub-nav">
        <h1>
            <a class="gh-sub-nav-title" href="/scientific/"><img src="../Picture/22bbc83e.logo.png" alt="科学人"></a>
        </h1>
        <ul class="gh-sub-nav-list">
            
<li class=""><a href="/scientific/channel/hot/">热点</a></li>

            
<li class=""><a href="/scientific/channel/frontier/">前沿</a></li>

            
<li class=""><a href="/scientific/channel/review/">评论</a></li>

            
<li class=""><a href="/scientific/channel/interview/">专访</a></li>

            
<li class=""><a href="/scientific/channel/visual/">视觉</a></li>

            
<li class=""><a href="/scientific/channel/brief/">速读</a></li>

            
<li class="single"><a href="/scientific/channel/fact/">谣言粉碎机</a></li>

            
<li class="single"><a href="/scientific/channel/techb/">商业科技</a></li>

            
<li class="subject"><a href="/scientific/subject/">学科<i class="gnarrow-down"></i></a></li>

        </ul>
        <a class="icon icon-file" href="/scientific/all/archive/" title="点击查看归档"></a>
        <div class="gh-sub-nav-hidden">
            <a class="gh-sub-nav-btn" id="innerNavBtn" href="javascript:void 0;">
                
                <span class="icon icon-menu"></span>
            </a>
        </div>
    </div>
</div>
            </div>
<div class="container" style="border:1px solid red">
    
    <div id="waterfall" class="article-list">
        
        <!-- ---------关于我们,投稿------------ -->
        <div class="article article-hot" style="float:right">
            <a href="http://www.guokr.com/scientific/about/"  target="_blank" class="s-about">
                <div class="content">
                    <img src="__PUBLIC__/Home/Science/img/239b2091.i-logo.png">
                    <p>关于我们</p>
                </div>
            </a>
            <a href="http://www.guokr.com/post/705159/" target="_blank" class="s-contribute s-about">
                <div class="content">
                    <img src="__PUBLIC__/Home/Science/img/89e5a66b.flight-logo.png">
                    <p>我要投稿</p>
                    <span>已有千位作者为科学人供稿</span>
                </div>
            </a>
        </div>
        <!-- ---------//////关于我们,投稿------------ -->
        
        
<div style="float:left;border:1px solid #ccc;width:300px;">
    
     
    <a class="label label-hot" href="http://www.guokr.com/scientific/channel/hot/" target="_blank" data-gaevent="scientific_tag:v1.1.1.1:scientific">热点<b class="gnarrow-right"></b></a>
    
    
    <a class="label label-common" href="http://www.guokr.com/scientific/subject/food/" target="_blank">食物<b class="gnarrow-right"></b></a>
    <h3>
        <a class="article-title" href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_title:v1.1.1.1:scientific">“不明白色液体”处理蒜薹，这真是泡了甲醛吗？</a>
    </h3>
    <div class="article-info">
        
            
            <a class="article-author" href="http://www.guokr.com/i/1863414356/" target="_blank">CFSA_钟凯</a>
            
        
        <span class="split">|</span>今天13:53
        <a class="article-comments" href="http://www.guokr.com/article/441434/#comments" data-gaevent="scientific_comment:v1.1.1.1:scientific" target="_blank">
            <span class="icon icon-comment"></span>
            <span class="article-comments-num">6</span>
        </a>
    </div>
    
    <a href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_image:v1.1.1.1:scientific"><img data-height="235" data-width="330" src="__PUBLIC__/Home/img/1vcun8fgzdsosjdohfeclqvyclrvni4k6jkfehy2vxdkaqaa6waaaepq.jpg"></a>
    
    <p class="article-summary">蒜薹被泡甲醛保鲜？在网上流传的这段视频中，使用的白色液体恐怕不是甲醛，它更有可能是某种杀菌剂。从视频中并不能准确判断液体的具体成分和安全性，更多信息还有待核实。</p>
    
</div>


<div style="float:left;border:1px solid #ccc;width:300px;">
    
     
    <a class="label label-hot" href="http://www.guokr.com/scientific/channel/hot/" target="_blank" data-gaevent="scientific_tag:v1.1.1.1:scientific">热点<b class="gnarrow-right"></b></a>
    
    
    <a class="label label-common" href="http://www.guokr.com/scientific/subject/food/" target="_blank">食物<b class="gnarrow-right"></b></a>
    <h3>
        <a class="article-title" href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_title:v1.1.1.1:scientific">“不明白色液体”处理蒜薹，这真是泡了甲醛吗？</a>
    </h3>
    <div class="article-info">
        
            
            <a class="article-author" href="http://www.guokr.com/i/1863414356/" target="_blank">CFSA_钟凯</a>
            
        
        <span class="split">|</span>今天13:53
        <a class="article-comments" href="http://www.guokr.com/article/441434/#comments" data-gaevent="scientific_comment:v1.1.1.1:scientific" target="_blank">
            <span class="icon icon-comment"></span>
            <span class="article-comments-num">6</span>
        </a>
    </div>
    
    <a href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_image:v1.1.1.1:scientific"><img data-height="235" data-width="330" src="__PUBLIC__/Home/img/1vcun8fgzdsosjdohfeclqvyclrvni4k6jkfehy2vxdkaqaa6waaaepq.jpg"></a>
    
    <p class="article-summary">蒜薹被泡甲醛保鲜？在网上流传的这段视频中，使用的白色液体恐怕不是甲醛，它更有可能是某种杀菌剂。从视频中并不能准确判断液体的具体成分和安全性，更多信息还有待核实。</p>
    
</div>


<div style="float:left;border:1px solid #ccc;width:300px;">
    
     
    <a class="label label-hot" href="http://www.guokr.com/scientific/channel/hot/" target="_blank" data-gaevent="scientific_tag:v1.1.1.1:scientific">热点<b class="gnarrow-right"></b></a>
    
    
    <a class="label label-common" href="http://www.guokr.com/scientific/subject/food/" target="_blank">食物<b class="gnarrow-right"></b></a>
    <h3>
        <a class="article-title" href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_title:v1.1.1.1:scientific">“不明白色液体”处理蒜薹，这真是泡了甲醛吗？</a>
    </h3>
    <div class="article-info">
        
            
            <a class="article-author" href="http://www.guokr.com/i/1863414356/" target="_blank">CFSA_钟凯</a>
            
        
        <span class="split">|</span>今天13:53
        <a class="article-comments" href="http://www.guokr.com/article/441434/#comments" data-gaevent="scientific_comment:v1.1.1.1:scientific" target="_blank">
            <span class="icon icon-comment"></span>
            <span class="article-comments-num">6</span>
        </a>
    </div>
    
    <a href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_image:v1.1.1.1:scientific"><img data-height="235" data-width="330" src="__PUBLIC__/Home/img/1vcun8fgzdsosjdohfeclqvyclrvni4k6jkfehy2vxdkaqaa6waaaepq.jpg"></a>
    
    <p class="article-summary">蒜薹被泡甲醛保鲜？在网上流传的这段视频中，使用的白色液体恐怕不是甲醛，它更有可能是某种杀菌剂。从视频中并不能准确判断液体的具体成分和安全性，更多信息还有待核实。</p>
    
</div>


<div style="float:left;border:1px solid #ccc;width:300px;">
    
     
    <a class="label label-hot" href="http://www.guokr.com/scientific/channel/hot/" target="_blank" data-gaevent="scientific_tag:v1.1.1.1:scientific">热点<b class="gnarrow-right"></b></a>
    
    
    <a class="label label-common" href="http://www.guokr.com/scientific/subject/food/" target="_blank">食物<b class="gnarrow-right"></b></a>
    <h3>
        <a class="article-title" href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_title:v1.1.1.1:scientific">“不明白色液体”处理蒜薹，这真是泡了甲醛吗？</a>
    </h3>
    <div class="article-info">
        
            
            <a class="article-author" href="http://www.guokr.com/i/1863414356/" target="_blank">CFSA_钟凯</a>
            
        
        <span class="split">|</span>今天13:53
        <a class="article-comments" href="http://www.guokr.com/article/441434/#comments" data-gaevent="scientific_comment:v1.1.1.1:scientific" target="_blank">
            <span class="icon icon-comment"></span>
            <span class="article-comments-num">6</span>
        </a>
    </div>
    
    <a href="http://www.guokr.com/article/441434/" target="_blank" data-gaevent="scientific_image:v1.1.1.1:scientific"><img data-height="235" data-width="330" src="__PUBLIC__/Home/img/1vcun8fgzdsosjdohfeclqvyclrvni4k6jkfehy2vxdkaqaa6waaaepq.jpg"></a>
    
    <p class="article-summary">蒜薹被泡甲醛保鲜？在网上流传的这段视频中，使用的白色液体恐怕不是甲醛，它更有可能是某种杀菌剂。从视频中并不能准确判断液体的具体成分和安全性，更多信息还有待核实。</p>
    
</div>
 
        
		

        
    </div>
    <div style="padding-left:470px">
        正在加载<img src="__PUBLIC__/Home/Science/img/52a797de.ajax-loader.gif">
    </div>
</div>

        
        <div class="gbottom">
    <div class="gbottom-nav">
        <a href="http://www.guokr.com/about/">关于我们</a>
        <a href="http://www.guokr.com/zone/job/">加入果壳</a>
        <a href="http://www.guokr.com/spread/">媒体报道</a>
        <a href="http://www.guokr.com/question/446161/">帮助中心</a>
        <a href="http://www.guokr.com/event/home/">果壳活动</a>
        <a href="http://www.guokr.com/help/policy/">免责声明</a>
        <a href="http://www.guokr.com/contact/">联系我们</a>
        <a href="http://m.guokr.com/">移动版</a>
        <a href="http://www.guokr.com/mobile/">移动应用</a>
    </div>
    <div class="gbottom-i">©2015果壳网&nbsp;京ICP备09043258号-2&nbsp;京公网安备1101052730</div>
</div>  
        <script type="text/javascript" src="__PUBLIC__/Public/jquery-1.8.3.min.js"></script>
        <script type="text/javascript">
            //全局配置
            var p=1;//页码信息  
            var isLoading=false;

            requestGoods();
            //封装函数发起请求
            function requestGoods(){
                //加载请求是送门
                isLoading=true;
                //发起请求
                $.get('{:U}',{p:p},function(data){
                    //循环遍历创建元素
                    for (var i = 0; i < data.length; i++) {
                        //创建元素
                        var newLi=$('#item').clone();
                        //显示
                        newLi.fadeIn();
                        //修改src属性
                        newLi.find('img').attr('src',data[i]['pic']);
                        //修改价格和标量
                        newLi.find('h3').html(data[i]['title']);
                        newLi.find('span').html(data[i]['price']);
                        var index=i%4;
                        //插入到ul中
                        $('ul:eq('+index+')').append(newLi)
                    };
                    //让页码自增
                    p++;
                    //打开
                    isLoading=false;
                },'json')
            }

            //绑定滚动事件
            $(window).scroll(function(){
                //检测当前是否正在发起请求
                if (isLoading) {return;};
                //获取整个文档的高度
                var sH=$(document).height();
                //获取页面滚动高度
                var sT=$(window).scrollTop();
                //可视区别的高度
                var cH=$(window).height();
                if(sH==cH+sT){
                    requestGoods();
                }
            })
            </script>
    </body>
</html>