<div class="container">
    <div id="innerNav" class="gh-inner-nav-wrap">
        <div class="gh-inner-nav">
            <h2><span class="gh-inner-nav-title">学科</span></h2>
            <ul class="gh-inner-nav-list">
                <li class="current">
                    <a href="/scientific/subject/">全部</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/physics/">物理</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/biology/">生物</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/environment/">环境</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/astronomy/">天文</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/medicine/">医学</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/food/">食物</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/forensic/">法证</a>
                </li>
                
                <li >
                    <a href="http://www.guokr.com/scientific/subject/sex/">性情</a>
                </li>
                
                <li class="gh-inner-nav-li">
                    <a class="gh-inner-nav-btn" href="javascript:void 0;" data-action="spread-inner">
                        展开<i class="gnarrow-down"></i>
                    </a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/earth/">地学</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/psychology/">心理</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/chemistry/">化学</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/sci-fiction/">科幻</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/math/">数学</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/diy/">DIY</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/agronomy/">农学</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/engineering/">工程</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/electronics/">电子</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/atmosphere/">大气</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/education/">教育</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/communication/">传播</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/society/">社会</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/internet/">互联网</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/aerospace/">航空航天</a>
                </li>
                
                <li class="gh-inner-nav-hidden">
                    <a href="http://www.guokr.com/scientific/subject/others/">其他</a>
                </li>
                
                <li class="gh-inner-nav-li gh-inner-nav-hidden">
                    <a class="gh-inner-nav-btn" href="javascript:void 0;" data-action="fold-inner">
                        收起<i class="gnarrow-up"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>