    <div id="spread" class="spread" style="clear: both;">
    <script type="text/javascript" >BAIDU_CLB_SLOT_ID = "1087247";</script>
    <script type="text/javascript" src="__PUBLIC__/Home/Article/js/o.js"></script>
    <a href="javascript:void 0;" class="icon-close" style="position: absolute;margin-top: -14px;top: 50%;right:     3px;padding: 5px;background-position: 5px 5px;background: url('../Images/d6823053.icon-close.png') no-repeat;width: 22.5px;height:    22.5px;background-size: 22.5px 22.5px;"></a>
</div>
        
        <div class="gheader-wrap">
            

<div class="gheader-new">
    <div class="gh-wrap">
        <div class="gfl">
            <ul class="gh-nav">
                
<li>
<a href="http://www.guokr.com/"><span class="gnicon-home"></span>首页<b ></b></a>
</li>

                
<li>
<a href="http://www.guokr.com/scientific/">科学人<b class="gnarrow-up"></b></a>
</li>

                
<li>
<a href="http://www.guokr.com/group/">小组<b ></b></a>
</li>

                
<li>
<a href="http://www.guokr.com/ask/">问答<b ></b></a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://mooc.guokr.com/" target="_blank">MOOC</a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://www.zaih.com/" target="_blank">在行</a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://www.kexuelife.com" target="_blank">科学与生活</a>
</li>

                
<li class="gh-sm-hidden">
<a href="http://www.15yan.com/" target="_blank">十五言</a>
</li>

                <li id="moreNav" class="gh-sm-hidden">
                    <a href="javascript:void 0;" class="other">更多<i class="gnarrow-down"></i></a>
                    <div class="gh-list">
                        <ul>
                            <!-- 
<li class="gh-sm-hidden">
<a href="http://sex.guokr.com/" target="_blank">知性</a>
</li>
 -->
                            
<li class="gh-sm-hidden">
<a href="http://www.guokr.com/mobile/" target="_blank">果壳精选</a>
</li>

                            
<li class="gh-sm-hidden">
<a href="http://gate.guokr.com/" target="_blank">任意门</a>
</li>

                            
<li class="gh-sm-hidden">
<a href="http://www.guokr.com/group/weixin_account/" target="_blank">果壳微信号</a>
</li>

                            
                            
<li class="gh-sm-hidden">
<a href="http://music.guokr.com/" target="_blank">果壳音乐</a>
</li>

                            
<li class="gh-sm-hidden">
<a href="http://www.guokr.com/group/185/" target="_blank">果壳动漫</a>
</li>

                            
                        </ul>
                    </div>
                </li>
            </ul>
            <form class="gh-search" id="search" method="get" action="http://www.guokr.com/search/all/">
                <p id="searchBox">
                    <input id="searchTxt" class="gh-search-txt" type="text" name="wd" maxlength="30" value="">
                    <input class="gnicon-search" type="submit" value="搜索">
                </p>
            </form>
        </div>
        
    <div class="gh-login">
        <a rel="nofollow" href="http://www.guokr.com/sso/?suppress_prompt=1&amp;lazy=y&amp;success=http%3A%2F%2Fwww.guokr.com%2Farticle%2F441438%2F">登录</a>
        <span class="split">|</span>
        <a rel="nofollow" href="https://account.guokr.com/sign_up/?success=http%3A%2F%2Fwww.guokr.com%2Fsso%2F%3Fsuppress_prompt%3D1%26lazy%3Dy%26success%3Dhttp%253A%252F%252Fwww.guokr.com%252Fgroup%252Fuser%252Frecent_replies%252F">注册</a>
    </div>
   
    </div>
</div>
            
