<extend name="Public/index"/>
<block name="nav">
	<div class="sub-nav">
	    <div class="sub-nav-wrap gclear">
	        <h2>
	            <a href="/ask/"><span class="gnav-logo">果壳</span>问答</a>
	        </h2>
	        <ul class="sub-nav-link gfl">
	            <li>
	                <a href="/ask/">问答首页</a>
	            </li>
	            <li>
	                <a href="/ask/hottest/">发现问答</a>
	            </li>
	            <li>
	                <a href="/ask/pending/">等待回答</a>
	            </li>
	            <li >
	                <a href="/ask/newest/">最新问题</a>
	            </li>
	            <li class="current">
	                <a href="/ask/tag/category/">标签广场</a>
	            </li>
	        </ul>
	        <div class="sub-nav-btn gfr">
	            <a data-gaevent="ask_nav_button_ask:ask" class="gnbtn-primary">提问</a>
	            <a data-gaevent="ask_nav_button_answer:ask" class="gnbtn-primary">我要回答</a>
	        </div>
	    </div>
	</div>
</block>
<block name="content">
	        
	        <div class="gwrap tag-square-page">
	        
	<div class="gmain">
	    <div class="page-title">
	        <h2>标签广场</h2>
	    </div>
	    <ul class="gntabs">
		    <li class="{:U('Home/Quetag/index',array('is_hot'=>1))}"><a href="">热门标签</a></li>
		    
		    <li><a href="{:U('Home/Quetag/index',array('state'=>2))}">人文·社科</a></li>
		    
		    <li><a href="{:U('Home/Quetag/index',array('state'=>3))}">科学·技术</a></li>
		    
		    <li><a href="{:U('Home/Quetag/index',array('state'=>4))}">生活·娱乐</a></li>
		    
		    <li><a href="{:U('Home/Quetag/index',array('state'=>5))}">自然·生态</a></li>
	    </ul>
	    <ul class="join-list">
			
	        <li style="margin-top:20px;border:1px solid red;float: left;width: 320px;height:100px;">
	       		<a class="join-list-sign" target="_blank" href="" style="float:left;margin-right: 10px;">
	        		<img src="" class="tag-icon" width="48" height="48">
	        	</a>
		        <div class="join-list-desc" >
		            <a target="_blank" href="" style="margin:10px 0;">生活</a>
		            <br>	
		            <span style="float: left;margin:5px 0;">35541个问题</span>
		            <p style="clear:left;margin-left:10px;">描述</p>
		        	<a class="gnbtn-plat follow-btn" style="position: relative;right:-245px;top:-60px;"><span>+</span>关注</a>
		        </div>
	        </li>
	        
	    </ul>

	<ul class="gpages">
        <li><span>1</span></li>
        <li><a href="/ask/tag/category/?page=2">2</a></li>
        <li><a href="/ask/tag/category/?page=3">3</a></li>
	    <li>
	        <a href="/ask/tag/category/?page=2">下一页</a>
	    </li>
	    <li>
	        <a href="/ask/tag/category/?page=3">末页</a>
	    </li>
	    
	</ul>


	</div>
	<div class="gside">
	    <div class="side-nav">
	        <p><a href="">标签是什么</a></p>
	        
	    </div>
	    <div class="gh-search-wrap">
	        <form id="tagSearch" action="" class="gh-search" method="get">
	            <p id="tagSearchBox">
	            <input id="q" type="text" class="gh-search-txt" name="q" maxlength="10" placeholder="搜索标签" />
	            <input type="submit" value="搜索" class="gnicon-search" />
	            </p>
	        </form>
	    </div>
            <div class="side-title">
            <h2>近期活跃用户</h2>
        </div>
	    <ul class="side-users">
	        
	        <li>
	            <a href=""><img src="" width="24" height="24">Articdoctor</a>获得103个支持
	        </li>
	        
	        <li>
	            <a href="h"><img src="" width="24" height="24">Sundayhao</a>获得53个支持
	        </li>
	        
	    </ul>
	</div>


</block>